@import url(./reset.css);
:root {
    --white-color: #fff;
    --accent-color: #FBD784;
    --black-color: #000;
}

header,
section,
footer {
    padding: 0 calc(50% - 887.5px);
}

body {
    background-color: var(--black-color);
}

* {
    font-family: 'Open Sans', sans-serif;
    color: var(--white-color);
}

h1 {
    font-size: 96px;
    font-weight: 700;
    line-height: 100px;
    /* 104.167% */
    text-transform: capitalize;
}

h1 span {
    font-size: 88px;
    font-weight: 400;
}

h2 {
    font-size: 64px;
    font-weight: 700;
}

.text-medium {
    font-size: 18px;
    font-weight: 600;
    line-height: 32px;
}

.sub-title {
    position: relative;
    display: flex;
    column-gap: 32px;
    align-items: center;
    color: #FFC178;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 6px;
    text-transform: uppercase;
}

.sub-title::before {
    content: '';
    display: block;
    width: 72px;
    height: 2px;
    background: #FFC178;
}

.text-light {
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
}

.logo-text {
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0.24px;
    text-transform: capitalize;
}

.readMore-button {
    display: flex;
    column-gap: 9px;
    position: relative;
    color: var(--accent-color);
    font-size: 18px;
    font-weight: 700;
}

.readMore-button::after {
    content: url(/img/icons/rightOrangeArrow.svg);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    padding-top: 58px;
    width: 100%;
    z-index: 4;
}

.header .text-medium {
    font-weight: 400;
}

.header__list {
    display: flex;
    column-gap: 50px;
}

.header__search {
    display: flex;
    column-gap: 17px;
    opacity: 0.4;
}

.discover {
    display: flex;
    justify-content: center;
    background: url(/img/header_bg.png), lightgray 50% / cover no-repeat;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 1573px;
    position: relative;
}

.discover::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    background: linear-gradient(330deg, rgba(0, 0, 0, 0.00) 31.06%, #000 108.93%);
    width: 100%;
    height: 100%;
}

.discover::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(0deg, #000 0%, rgba(0, 0, 0, 0.00) 77.78%);
    display: block;
    width: 100%;
    height: 358px;
}

.discover__content {
    position: relative;
    top: 268px;
    z-index: 5;
}

.discover__socials {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    z-index: 5;
    position: absolute;
    top: 357px;
    left: 40px;
    align-items: center;
}

.discover__socials-text {
    writing-mode: vertical-rl;
}

.discover__socials-link {
    width: fit-content;
}

.discover__content-title {
    padding: 32px 0 126px;
}

.Scroll-down__button {
    display: flex;
    column-gap: 9px;
    margin: 0 auto;
}

.location1 {
    margin-bottom: 250px;
}

.location1__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 150px;
}

.location1__content-image {
    position: relative;
    top: -100px;
}

.location1__content--text__block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 27px;
    max-width: 632px;
}

.slider {
    margin: 0 150px;
    overflow: hidden;
}

.slider__line {
    display: flex;
    position: relative;
    transition: 0.6s;
    width: 300%;
}

.slider__line-slide {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-image: url(/img/slider_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 985px;
    width: calc(100%/3);
}

.slider__line-slide__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 984px;
    padding-bottom: 41px;
}

.slider__line-slide__content h2 {
    padding: 24px 0;
}

.slider__line-slide__content button {
    padding-top: 39px;
}

.slider__line-slide__content-text {
    color: var(--accent-color);
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 6px;
    text-transform: uppercase;
    position: relative;
    display: flex;
    column-gap: 32px;
    align-items: center;
}

.slider__line-slide__content-text::before {
    content: '';
    display: block;
    width: 72px;
    height: 2px;
    background: #FFC178;
}

.slider__line-slide__content-text::after {
    content: '';
    display: block;
    width: 72px;
    height: 2px;
    background: #FFC178;
}

.location2 {
    margin-bottom: 250px;
}

.location2__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 150px;
}

.location2__content--text__block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 27px;
    max-width: 632px;
}

.prefooter {
    margin: 0 140px 55px 0;
}

.prefooter-wrapper {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.prefooter-wrapper::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -47px;
    display: block;
    width: 100%;
    height: 2px;
    opacity: 0.3;
    background: #FFF;
}

.prefooter-logo {
    color: var(--white-color);
    font-size: 48px;
    font-weight: 700;
    letter-spacing: 0.48px;
    text-transform: capitalize;
}

.prefooter__content {
    display: flex;
    align-items: center;
    column-gap: 56px;
}

.prefooter__content-text {
    color: var(--white-color);
    font-family: 'DM Sans', sans-serif;
    font-size: 22px;
    font-weight: 400;
    letter-spacing: -0.3px;
}

.prefooter__content-button {
    background: #FFA343;
    padding: 24px 70px;
    border-radius: 8px;
    color: var(--black-color);
    font-family: 'DM Sans', sans-serif;
    font-size: 17px;
    font-weight: 700;
    transition: 0.5s;
}

.prefooter__content-button:hover {
    color: var(--white-color);
}

.prefooter__content-button:active {
    background: #ac6f2e;
}

@media (max-width:1774px) {
    header,
    section,
    footer {
        padding: 0 calc(50% - 700px);
    }
}