@import url(./reset.css);
:root {
    --white-color: #fff;
    --accent-color: #FBD784;
    --black-color: #000;
}

header {
    padding: 0 calc(50% - 887.5px);
}

section,
footer {
    padding: 0 calc(50% - 730px);
}

body {
    background-color: var(--black-color);
}

* {
    font-family: 'Open Sans', sans-serif;
    color: var(--white-color);
}

h1 {
    font-size: 96px;
    font-weight: 700;
    line-height: 100px;
    /* 104.167% */
    text-transform: capitalize;
}

h1 span {
    font-size: 88px;
    font-weight: 400;
}

h2 {
    font-size: 64px;
    font-weight: 700;
}

h3 {
    font-size: 36px;
    font-weight: 700;
    letter-spacing: -0.3px;
}

.none {
    display: none !important;
}

.text-medium {
    font-size: 18px;
    font-weight: 600;
    line-height: 32px;
}

.sub-title {
    position: relative;
    display: flex;
    column-gap: 32px;
    align-items: center;
    color: #FFC178;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 6px;
    text-transform: uppercase;
}

.sub-title::before {
    content: '';
    display: block;
    width: 72px;
    height: 2px;
    background: #FFC178;
}

.text-light {
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
}

.logo-text {
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0.24px;
    text-transform: capitalize;
}

.readMore-button {
    display: flex;
    column-gap: 9px;
    position: relative;
    color: var(--accent-color);
    font-size: 18px;
    font-weight: 700;
}

.readMore-button::after {
    content: url(./img/icons/rightOrangeArrow.svg);
}

.pop-up {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99;
    width: 100%;
    height: 100vh;
    background-color: #00000046;
}

.pop-up__content {
    padding: 20px 40px;
    width: 600px;
    height: 600px;
    background-color: #6e6e6e;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    padding-top: 58px;
    width: 100%;
    z-index: 4;
}

.header .text-medium {
    font-weight: 400;
}

.header__list {
    display: flex;
    column-gap: 50px;
}

.header__search {
    display: flex;
    column-gap: 17px;
    opacity: 0.4;
}

.discover {
    display: flex;
    justify-content: center;
    background: url(./img/headerBg.png), lightgray 50% / cover no-repeat;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 1573px;
    position: relative;
}

.discover::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    background: linear-gradient(330deg, rgba(0, 0, 0, 0.00) 31.06%, #000 108.93%);
    width: 100%;
    height: 100%;
}

.discover::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(0deg, #000 0%, rgba(0, 0, 0, 0.00) 77.78%);
    display: block;
    width: 100%;
    height: 358px;
}

.discover__content {
    position: relative;
    top: 268px;
    z-index: 5;
}

.discover__socials {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    z-index: 5;
    position: absolute;
    top: 357px;
    left: 40px;
    align-items: center;
}

.discover__socials-text {
    writing-mode: vertical-rl;
}

.discover__socials-link {
    width: fit-content;
}

.discover__content-title {
    padding: 32px 0 126px;
}

.Scroll-down__button {
    display: flex;
    column-gap: 9px;
    margin: 0 auto;
}

.location1 {
    margin-bottom: 250px;
}

.location1__content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.location1__content-image {
    position: relative;
    top: -150px;
}

.location1__content--text__block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 27px;
    max-width: 632px;
}

.slider {
    margin-bottom: 230px;
    overflow: hidden;
}

.slider-wrapper {
    position: relative;
    overflow: hidden;
}

.slider__prev-btn {
    position: absolute;
    left: 31px;
    top: 50%;
    transform: rotate(180deg);
}

.slider__next-btn {
    position: absolute;
    right: 31px;
    top: 50%;
}

.slider__line {
    display: flex;
    position: relative;
    transition: 0.6s;
    right: 0;
    width: calc(1481px*3);
}

.slider__line-slide {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-image: url(../img/sliderBg.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 985px;
    width: 1481px;
}

.slider__line-slide__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 984px;
    padding-bottom: 41px;
}

.slider__line-slide__content h2 {
    padding: 24px 0;
}

.slider__line-slide__content button {
    padding-top: 39px;
}

.slider__line-slide__content-text {
    color: var(--accent-color);
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 6px;
    text-transform: uppercase;
    position: relative;
    display: flex;
    column-gap: 32px;
    align-items: center;
}

.slider__line-slide__content-text::before {
    content: '';
    display: block;
    width: 72px;
    height: 2px;
    background: #FFC178;
}

.slider__line-slide__content-text::after {
    content: '';
    display: block;
    width: 72px;
    height: 2px;
    background: #FFC178;
}

.location2 {
    margin-bottom: 250px;
}

.location2__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.location2__content--text__block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 27px;
    max-width: 632px;
}

.prefooter {
    margin-bottom: 55px;
}

.prefooter-wrapper {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.prefooter-wrapper::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -47px;
    display: block;
    width: 100%;
    height: 2px;
    opacity: 0.3;
    background: #FFF;
}

.prefooter-logo {
    color: var(--white-color);
    font-size: 48px;
    font-weight: 700;
    letter-spacing: 0.48px;
    text-transform: capitalize;
}

.prefooter__content {
    display: flex;
    align-items: center;
    column-gap: 56px;
}

.prefooter__content-text {
    color: var(--white-color);
    font-family: 'DM Sans', sans-serif;
    font-size: 22px;
    font-weight: 400;
    letter-spacing: -0.3px;
}

.prefooter__content-button {
    background: #FFA343;
    padding: 24px 70px;
    border-radius: 8px;
    color: var(--black-color);
    font-family: 'DM Sans', sans-serif;
    font-size: 17px;
    font-weight: 700;
    transition: 0.5s;
}

.prefooter__content-button:hover {
    color: var(--white-color);
}

.prefooter__content-button:active {
    background: #ac6f2e;
}

.footer {
    padding-top: 55px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 130px;
}

.footer h3 {
    max-width: 361px;
    margin-bottom: 50px;
}

.footer__form-label {
    display: flex;
}

.footer__form-label input {
    border-bottom: 2px solid #ffffff4d;
    padding: 14px 19px;
    transition: 0.4s;
    width: 330px;
}

.footer__form-label input:hover {
    background-color: #464545;
}

.footer__form-label input:focus {
    background-color: #fff;
    color: #000;
}

.footer__info {
    display: flex;
    column-gap: 184px;
    font-size: 19px;
    font-weight: 400;
    letter-spacing: -0.205px;
    margin-top: 12px;
}

.footer__info-list {
    display: flex;
    flex-direction: column;
    row-gap: 18px;
}

.footer__info-list li:nth-child(1) {
    color: #FFD1A0;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: -0.232px;
}

@media (max-width:1774px) {
    header,
    section,
    footer {
        padding: 0 calc(50% - 700px);
    }
    .location1__content-image {
        top: -100px;
    }
    .location1__content,
    .location2__content {
        column-gap: 100px;
    }
}

@media (max-width:1400px) {
    header,
    section,
    footer {
        padding: 0 calc(50% - 600px);
    }
    .location1 {
        margin-bottom: 150px;
    }
    .location1__content-image {
        top: -75px;
    }
}

@media (max-width:1200px) {
    header,
    section,
    footer {
        padding: 0 calc(50% - 450px);
    }
    h1 {
        font-size: 80px;
    }
    h1 span {
        font-size: 70px;
    }
    h2 {
        font-size: 52px;
    }
    h3 {
        font-size: 30px;
    }
    .text-medium {
        font-size: 14px;
        line-height: 28px;
    }
    .discover {
        height: 1000px;
    }
    .location1 {
        margin-bottom: 150px;
    }
    .location1__content {
        align-items: center;
    }
    .location1__content-image,
    .location2__content-image {
        top: 0px;
        width: 50%;
    }
    .prefooter-logo {
        font-size: 40px;
    }
    .footer__form-label input {
        width: 70%;
    }
    .footer__info {
        column-gap: 70px;
        justify-content: space-between;
        font-size: 15px;
    }
    h3 {
        font-size: 36px;
        font-weight: 700;
        letter-spacing: -0.3px;
    }
}

@media (max-width:900px) {
    header,
    section,
    footer {
        padding: 0 calc(50% - 300px);
    }
    h1 {
        font-size: 64px;
        line-height: 80px
    }
    h1 span {
        font-size: 56px;
    }
    h2 {
        font-size: 38px;
    }
    h3 {
        font-size: 22px;
    }
    .text-medium {
        font-size: 12px;
        line-height: 26px;
    }
    .readMore-button {
        column-gap: 7px;
        font-size: 14px;
    }
    .discover__socials {
        left: 20px;
    }
    .location1__content,
    .location2__content {
        justify-content: unset;
        column-gap: 40px;
    }
    .location2 {
        margin-bottom: 100px;
    }
    .prefooter-logo {
        font-size: 30px;
    }
    .prefooter__content {
        column-gap: 20px;
    }
    .prefooter__content-text {
        font-size: 14px;
    }
    .prefooter__content-button {
        padding: 12px 35px;
        font-size: 12px;
    }
    .footer h3 {
        margin-bottom: 25px;
    }
    .footer__info {
        column-gap: 50px;
        font-size: 13px;
        margin-top: 0;
    }
    .footer__form-label img {
        width: 51px;
        height: 51px;
    }
    .sub-title {
        column-gap: 20px;
        font-size: 14px;
    }
    .sub-title::before {
        width: 50px;
    }
    .discover {
        height: 800px;
    }
    .slider__line-slide {
        height: 700px;
        padding: 0 20px;
    }
    .slider__prev-btn {
        left: 20px;
    }
    .slider__next-btn {
        right: 20px;
    }
}

@media (max-width:600px) {
    header,
    section,
    footer {
        padding: 0 calc(50% - 200px);
    }
    h1 {
        font-size: 56px;
        line-height: 60px;
    }
    h1 span {
        font-size: 44px;
    }
    h2 {
        font-size: 28px;
    }
    h3 {
        font-size: 18px;
    }
    .logo-text {
        font-size: 18px;
        margin-right: 25px;
    }
    .header__list {
        column-gap: 20px;
    }
    .text-medium {
        font-size: 10px;
        line-height: 15px;
    }
    .readMore-button {
        column-gap: 2px;
        font-size: 11px;
    }
    .readMore-button::after {
        width: 18px;
        height: 15px;
    }
    .header__search {
        display: none;
    }
    .sub-title {
        column-gap: 15px;
        font-size: 12px;
    }
    .discover {
        height: 700px;
    }
    .discover__socials {
        top: 289px;
        left: 10px;
    }
    .discover__content {
        top: 200px;
    }
    .discover__content-title {
        padding: 32px 0 100px;
        text-align: center;
    }
    .location1__content--text__block,
    .location2__content--text__block {
        max-width: 180px;
        row-gap: 10px;
    }
    .location1__content,
    .location2__content {
        margin-top: 70px;
        column-gap: 25px;
    }
    .prefooter-logo {
        font-size: 25px;
    }
    .footer__info {
        flex-wrap: wrap;
        row-gap: 30px;
        column-gap: 40px;
        margin-left: 20px;
        font-size: 12px;
    }
    .footer__info-list {
        row-gap: 12px;
    }
    .footer__info-list li:nth-child(1) {
        font-size: 16px;
    }
    .slider__line-slide {
        height: 600px;
    }
    .slider__prev-btn {
        left: 10px;
    }
    .slider__next-btn {
        right: 10px;
    }
    .slider__line-slide__content-text {
        column-gap: 16px;
    }
}

@media (max-width:400px) {
    header,
    section,
    footer {
        padding: 0 calc(50% - 156px);
    }
    h2 {
        font-size: 20px;
    }
    h3 {
        font-size: 14px;
    }
    .location1__content--text__block,
    .location2__content--text__block {
        max-width: 118px;
        row-gap: 8px;
    }
    .text-medium {
        font-size: 8px;
        line-height: 12px;
    }
    .sub-title {
        column-gap: 10px;
        font-size: 10px;
        letter-spacing: 4px
    }
    .discover__socials {
        display: none;
    }
    .prefooter-logo {
        font-size: 18px;
        text-align: center;
    }
    .prefooter__content {
        column-gap: 10px;
    }
    .prefooter__content-button {
        padding: 10px 20px;
        font-size: 10px;
    }
    .sub-title::before {
        width: 30px;
    }
    .footer__form-label img {
        width: 41px;
        height: 41px;
    }
    .footer__form-label input {
        font-size: 10px;
        padding: 10px 15px;
    }
    .footer__info {
        flex-wrap: wrap;
        row-gap: 25px;
        column-gap: 30px;
        font-size: 10px;
    }
    .footer__info-list {
        row-gap: 10px;
    }
    .slider__line-slide__content-text::after,
    .slider__line-slide__content-text::before {
        width: 36px;
    }
}